<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:solr="http://www.springframework.org/schema/data/solr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/data/solr
       http://www.springframework.org/schema/data/solr/spring-solr.xsd">

    <!-- 加载属性文件 -->
    <context:property-placeholder location="classpath*:props/*.properties"/>

    <!-- ########## 配置SpringDataSolr整合Solrj ############ -->
    <!--
        配置Solr服务器
        url: 连接索引库的URL
     -->
    <solr:solr-server id="solrServer" url="${collection1}"/>

    <!-- 配置SolrTemplate对Solr服务器的索引库做CRUD操作 -->
    <bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate">
        <!-- 设置Solr服务器 -->
        <constructor-arg name="solrServer" ref="solrServer"/>
    </bean>
</beans>